langchain==1.2.15
langchain-community==0.4.1
langchain-huggingface==1.2.2
langchain-text-splitters==1.1.2
langchain-core==1.4.0

sentence-transformers==5.4.1
chromadb==1.5.9
huggingface-hub==1.11.0

pypdf==6.11.0
python-dotenv==1.2.2
pandas==2.2.2
streamlit==1.43.2
